.aim{
    text-align: center;
}

.heading{
    color: #BBB9C4;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
}

.subheading{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin: 0px 338px;
}