.eventsection {
  position: relative;
  padding-top: 0.5px;
  text-align: center;
}

.heading {
  background: linear-gradient(115deg, #EDEBF7 33.91%, #8D8E94 66.09%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  margin-top: 150px;
}

.cardGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  justify-items: center;
  margin-bottom: 60px;
}

.cardbg {
  background-image: linear-gradient(106.13deg, #1D192B 11.07%, #E0D9FC 44%, #1A0A5B 101.29%);
  border-radius: 20px;
  padding: 2px;
  position: relative;
  width: 90%;
}

.card {
  position: relative;
  border-radius: 20px;
  background: linear-gradient(180deg, #0F0E12 0%, #160E30 150.75%);
  overflow: hidden;
}

.mesh {
  height: 90%;
  width: 95%;
  position: absolute;
  border-radius: 20px;
  top: 1px;
  left: 2px;
  background-image: linear-gradient(90deg, #170b43e3 1px, transparent 1px),
    linear-gradient(180deg, #1e0f54dd 1px, transparent 1px);
  background-size: 150px 150px;
  z-index: -1;
}

.title {
  background: linear-gradient(95.01deg, #e7e7e7 30.93%, #8898d8 40.74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: 500;
  font-size: 44px;
  line-height: 52.8px;
  margin: 20px 30px;
  z-index: 3;
}

.elementGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  margin: 40px;
  z-index: 3;
}

.boxCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.textCont {
  background: linear-gradient(95.01deg, #FFFFFF 30.93%, #3E65F2 85.74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  margin-top: 10px;
}

.blobcontainer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}

.blob {
  width: 400px;
  height: 300px;
  background: radial-gradient(ellipse at center, #3f218adb 0%, #6a2ad267 30%, #311b6100 60%);
  transform: translate(10%, 40%);
  z-index: -2;
}

.blob_1, .blob_2, .blob_3 {
  width: 900px;
  height: 250px;
  background: radial-gradient(ellipse at center, #3a1cb097 0%, #340fac66 30%, #311b6100 60%);
  transform: translate(10%, -30%);
  z-index: 2;
}

@media (max-width: 500px) {
  .title {
    font-size: 35px;
  }

  .boxCont {
    width: 100%;
    height: fit-content;
  }

  .elementGrid {
    grid-template-columns: 1fr;
  }

  .heading {
    font-size: 32px;
  }

  .cardbg {
    width: 90vw;
  }
}
