.header{
    margin-top: 100px;
}

.shape{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 64px;
    line-height: 71.94px;
    text-align: center;
    margin-left: 185px;
    margin-right: 185px;
}

/* .brainImg{
    width: 468px;
    height: 468px;
} */