nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 8px;
    /* margin-top: 10px; */
    padding-left: 40px;
    padding-right: 100px;

    /* background-color: #14121e; */
    /* background: linear-gradient(180deg, #14121e 0%, #08060e 100%); */
    /* background-color: #23047F; */
}

.burger{
    /* color: gray; */
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 22px;
}

.burger .line {
    width: 20px;
    height: 2.5px;
    background-color: #aba4d5;
    border-radius: 30px;
    margin: 2.5px;
    transition: all 0.3s ease;
}

.dropdownMenu{
    display: none;
}

/* left side - logo, title */
.leftSide{
    top: 20px;
    display: flex;
    gap: 10px; 
    /* margin-left: 5%; */
    
}

.logo{
    width: 50px;
    height: 50px;
}

.title{
    color: #E6E4EC;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.6px;
}

/* home, students */
.centerSide{
    /* position: relative;
    top: 35.5px; */
    gap: 50px;
    /* gap: 20%; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E6E4EC;
    font-weight: 300;
    font-size: 18px;
    line-height: 21.6px;
}

/* right side */
.rightSide{
    display: flex;
    align-items: end;
    justify-content: end;
    padding: 2px;
    background-image: linear-gradient(72.13deg, #23047F 22.7%, #8680FB 65.82%, #1019FF 101.76%);
    /* background-image: linear-gradient(to right top, #1019ff, #3834ff, #4f48ff, #615aff, #726bfe, #7168f1, #7064e4, #6e61d7, #5c4abc, #4934a2, #371e89, #230470); */
    border-radius: 25px;    
    /* margin-right: 8%; */
}

button{
    background-color: #120E11;
    border: none;
    border-radius: 25px;
    color: #E6E4EC;
    font-weight: 400;
    font-size: 18px;
    padding: 10px;
    /* line-height: 21.6px; */
}

@media (max-width: 750px) {
    nav{
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
        justify-content: end;
        gap: 20px;
        padding-top: 8px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .centerSide{
        gap: 20px;
        /* margin-right: -30%; */
    }
    .leftSide{
        position: absolute;
        top: 9px;
        left: 10px;
    }
}

@media (max-width: 550px) {
    nav{
        height: 55px;
    }
    .leftSide{
        left: 20px;
    }
    .centerSide{
        display: none;    
    }
    .rightSide{
        /* margin-right: 20px; */
        display: none;
    }
    .title{
        display: none;
    }
    .burger{
        display: flex;
    }
    .dropdownMenu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 65px;
        right: 10px;
        background-color: #221d3e;
        border-radius: 5px;
        /* width: calc(100% - 40px); */
        width: 120px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        z-index: 5;
    }
    .dropdownMenu a {
        color: #b4a1eed6;
        font-size: 16px;
        font-weight: 200;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        border-bottom: 1px solid #5530c5;
    }
    .dropdownMenu a:last-child {
        border-bottom: none;
    }
    
}