/* Footer.module.css */

.footer {
  background-color: #1d1f21;
  color: #ffffff;
  padding: 40px 20px;
  z-index: 4; /* Higher than vision */
  position: relative; /* Ensure it creates its own stacking context */
  /* font-family: 'Arial', sans-serif; */
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.topSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #444;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.logoContainer {
  flex: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 20px;
}

.logo {
  max-width: 150px;
  height: auto;
}

.infoContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.infoItem {
  display: flex;
  align-items: center;
}

.infoItem img {
  /* margin-right: 10px; */
}

.infoItem:nth-child(1) img {
  /* Styles for the first image (Location) */
  /* width: 24px; */
  height: 24px;
  margin-right: 15px;

}

.infoItem:nth-child(2) img {
  /* Styles for the second image (Contact) */
  /* width: 24px; */
  height: 20px;
  margin-right: 12px;
}

.infoItem:nth-child(3) img {
  /* Styles for the third image (Mail) */
  /* width: 24px; */
  height: 18px;
  margin-right: 10px;
}



.infoItem p, .infoItem a {
  margin: 0;
  color: #cacacf;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 15px;
  font-weight: 100; 
  /* why is this font weight not working */
}

.infoItem a:hover {
  color: #a884fd;
}

.socialContainer {
  flex: 1;
  text-align: center;
}

.socialContainer p{
  font-size: 15px;
  font-weight: 500; 
  color: #a7a7a7;
}

.socialIcons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.socialIcons img {
  width: 24px;
  height: 24px;
  transition: transform 0.3s;
}

.socialIcons img:hover {
  transform: scale(1.1);
}

.bottomSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.navLinks {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
}

.navLinks a {
  color: #a7a7a7;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 15px;
}

.navLinks a:hover {
  color: #803ef2;
}

.credit {
  text-align: right;
}

.credit p, .credit a {
  margin: 0;
  color: #ffffff;
  text-decoration: none;
  font-size: 12px;
}

.credit a {
  display: block;
  margin-top: 5px;
  transition: color 0.3s;
  color: #c3a3fa;
}

.credit a:hover {
  color: #3E65F2;
}

@media (max-width: 768px) {
  .topSection {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .infoContainer {
    flex-direction: column;
    align-items: center;
  }

  .bottomSection {
    flex-direction: column;
    gap: 10px;
  }

  .credit {
    text-align: center;
  }

  .logoContainer {
    margin-right: 0px;
  }
}
