.vision{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    text-align: center;
    position: relative;
    z-index: 3;
    padding-bottom: 20px;
    /* margin-top: -60px; */
    /* background-color: aquamarine; */
}

.heading{
    /* color: #EDEBF7; */
    background: linear-gradient(115deg, #EDEBF7 33.91%, #5228FB 66.09%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* For non-webkit browsers */
    color: transparent;
    font-weight:  600;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    padding-top: 120px;
    margin: 0px 10px;
    margin-bottom: 50px;
    z-index: 3;
    position: relative;
}

.description{
    background: linear-gradient(180deg, #FFFFFF 37.82%, #ACABB3 114.66%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* For non-webkit browsers */
    color: transparent;
    /* font-weight: 400; */
    font-size: 18px;
    line-height: 25px;
    margin: 0px 30%;
    text-align: center;
    z-index: 3;
    position: relative;
}

.blobcontainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%; /* Adjust the height to show half of the oval */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden; /* Hide the top half of the oval */
    /* z-index: 2; Ensure blob is behind other content */
}
.blob1 {
    width: 1200px;
    height: 600px;
    background: radial-gradient(ellipse at center,  #623ee8db 0%, #4b1bea7e 30%, #311b6100 60%);
    border-radius: 50%; /* Create an oval shape */
    transform: translate(-60%,10%); 
    z-index: 2;
}
.blob2 {
    width: 1200px;
    height: 600px;
    background: radial-gradient(ellipse at center,   #623ee8db 0%, #4b1bea7e 30%, #311b6100 60%);
    border-radius: 50%; /* Create an oval shape */
    transform: translate(50%,2%); 
    z-index: 2;
}

.mesh{
    height: 100%;
    width: 95%;
    position: absolute;
    border-radius: 20px;
    top: 1px;
    left: 2px;
    background-image: linear-gradient(90deg, #120837 1px, transparent 1px), 
                      linear-gradient(180deg, #120837 1px, transparent 1px);
    background-size: 120px 80px;
    z-index: 1;
}

/* Media Query */
/* @media (max-width: 802px) {
    .description {
        margin: 0px 10%;
    }
} */

@media (max-width: 902px) {
    .description {
        margin: 0px 10%;
    }
}

@media (max-width: 500px) {
    .description {
        margin: 0px 10%;
        font-size: 15px;
        line-height: 20px;
    }
}